.itemProduto{
    background-color: #f0f0f0;
    padding: 0.5rem;
    min-height: 110px;
}

.titulo{
    font-size: 1.25rem;
}

.valor, .titulo{
    font-weight: bold;
}

.btn{
    font-size: 0.75rem;
    max-height: 2rem;
}
